* {
    margin: 0%;
    padding: 35px;
}

.container {
    background-color: #e7a9cb;
    padding: 10px;
}

.red {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red1, .red2, .red3  {
    background-color: #ff2600;
    width: 250px;
    height: 180px;
}

h1 {
    color: darkgoldenrod;
}
